bin
/dist
!g4f.dev/dist/
!g4f.dev/dist/**
__pycache__
generated_media
site-packages
projects
node_modules
g4f.egg-info
models
pyvenv.cfg
lib64
.venv/
/.idea
container/
g4f.exe
har_and_cookies
playground
.vscode
